################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MDL_Telerik
/MDL_Telerik/.vs
*.user
/packages
